<div class="home">

  <div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
        <menu></menu>
      </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
      <div>
        <div class="posts">
          <h1 class="content-subhead">Podgląd odczytów</h1>
          <!-- A wrapper for all the blog posts -->
          <h3>Urządzenia</h3>
          <form class="pure-form pure-form-aligned">
            <fieldset>


              <div class="pure-control-group">
                <label for="mySelect">Wybierz urządzenie:</label>
                <select name="mySelect" id="mySelect"
                  ng-options="device as device.fields.device_id for device in userDevices track by device.fields.device_id"
                  ng-model="selectedDevice"></select>
              </div>

            </fieldset>
          </form>
          <h3>Zdarzenia</h3>
          <div class="post-description">
            <table class="pure-table pure-table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Typ zdarzenia</th>
                    <th>Data zdarzenia</th>
                    <th>+</th>
                </tr>
                <tr ng-repeat="deviceEvent in userDevicesEvents">
                    <td>{{deviceEvent.id}}</td>
                    <td>{{deviceEvent.type}}</td>
                    <td>{{deviceEvent.date}}</td>
                    <td>
                    <button class="pure-button" ng-click="selectDeviceEvent(deviceEvent)">

                      szczegóły
                    </button>
                    </td>
                </tr>
            </table>
        </div>
          <label>{{selectedEvent}}</label> 
          <!-- <p><a class="btn btn-primary btn-lg" role="button" ng-click="callAnonymousApi()">Pokaż dane</a></p>
          <p><a class="btn btn-primary btn-lg" role="button" ng-click="goToMap()">Idz do mapy </a></p>

          <zingchart id="myChart" zc-json="myJson" zc-height=500 zc-width=600></zingchart>
          <zingchart id="myChart2" zc-json="myJson" zc-height=500 zc-width=600></zingchart> -->

          <!-- <p><a class="btn btn-primary btn-lg" role="button" ng-click="callSecuredApi()">Call Secure API</a></p> -->
          <!-- <h2 ng-show="response">The response of calling the <span class="red">{{api}}</span> API is:</h2> -->
          <!-- <h3 ng-show="response">{{response}}</h3> -->

          <div id="mapDiv"></div>

      
      </div>
    </div>
  </div>

</div>
</div>