.red {
  color: red;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}


.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 0;
}

#googleMap {
  height: 500px;
  width: 500px;
  box-shadow: 3px 3px 10px gray;
}

#map {
  height: 100%;
  width: 100%;
}