<div class="login ">
  <h1>Logowanie</h1>
  <form role="form" class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
        <label for="username" required>Nazwa użytkownika</label>
        <input type="text" class="form-control" ng-model="user.username" id="username" placeholder="Nazwa użytkownika">
      </div>
      <div class="pure-control-group">
        <label for="password">hasło</label>
        <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Hasło">
        </input>
      </div>
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary" ng-click="login()">Zaloguj</button>
      </div>
    </fieldset>
  </form>
  <a ui-sref="signup()">Nie posiadasz konta? Załóż konto</a>
</div>