<div class="addevice">
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="header">
                <menu></menu>
            </div>
        </div>

        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <!-- A wrapper for all the blog posts -->
                <div class="posts">
                    <h1 class="content-subhead">Dodaj pojzad</h1>

                    <!-- A single blog post -->
                    <section class="post">
                        <header class="post-header">



                            <h3>Moje urządzenia</h3>



                        </header>
                        <div class="post-description">
                            <table class="pure-table">
                                <tr>
                                    <th>Id</th>

                                    <th>Nazwa urządzenia</th>
                                    <th>Model</th>
                                    <th>Numer Rejestracyjny</th>

                                </tr>
                                <tr ng-repeat="userDevice in userDevices">
                                    <td>{{userDevice.pk}}</td>
                                    <td>{{userDevice.fields.device_id}}</td>
                                    <td>{{userDevice.fields.car_model}}</td>
                                    <td>{{userDevice.fields.registration_plate}}</td>
                                </tr>
                            </table>
                        </div>
                    </section>
                </div>

                <div class="posts">


                    <section class="post">
                        <header class="post-header">


                            <h3>Dodaj nowe urządzenie</h3>



                        </header>

                        <div class="post-description">
                            <form role="form" class="pure-form pure-form-aligned">
                                <fieldset>

                                    <div class="pure-control-group">
                                        <label for="deviceName" required>Vin</label>
                                        <input type="text" class="form-control" ng-model="deviceName" id="username"
                                            placeholder="VIN">
                                    </div>
                                    <div class="pure-control-group">
                                        <label for="deviceName" required>Model auta</label>
                                        <input type="text" class="form-control" ng-model="carModel" id="username"
                                            placeholder="Model auta">
                                    </div>
                                    <div class="pure-control-group">
                                        <label for="deviceName" required>Numer reuestracyjny</label>
                                        <input type="text" class="form-control" ng-model="registrationPlate"
                                            id="username" placeholder="Numer reuestracyjny">
                                    </div>

                                    <div class="pure-controls">
                                        <button type="submit" class="pure-button pure-button-primary"
                                            ng-click="addDevice()">Dodaj urządzenie</button>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </section>


                </div>
            </div>
        </div>
    </div>




</div>